h1{
    color: cornflowerblue;
    background-color:white;
}
p{
    color:black;
}
li{
    background-color: white;
    color: black;
}

.memory{
    background-color: white;
}
.devices{
    background-color: white;
}