h1{
    color: black;
    background-color: aquamarine;
}
p{
    background-color: cornflowerblue;
    color: white;
}
li{
    background-color: blueviolet;
    color: white;
}

div{
    background-color: grey;
}